p {
    color:violet;
    text-align: right;
}
#man{
    color: darkgreen;
    text-align: center;
    font-size: 100px;
}
.woman {
    color: yellow;
    text-align: right;
}
h4{
    color: black;
    text-align: right;
}